div.shelf
  div.shelf__top
    div.shelf__switch
    a(href="/search")
      div.shelf-search 输入书名/作者/关键字
  ul.book-list
    li
      div.u-book
        a
          div.book-cover
            img(alt="盗墓笔记",src="http://cover.read.duokan.com/mfsv2/download/s010/p01yfPOuJRok/dQJSYfAnD3AB42.jpg!s")
        div.info
          h3.title 盗墓笔记
          p.author
            span.author 南派三叔
          div.wrap
            p 最新： 《后记》