section.banner-h5
  div.channel-h5__header
    h2.channel-h5__title.channel-group__title_left 精选专题
      i 热
  ul.banner-h5__list
    div
      li(v-for="(item,index) in topic",v-if="index<2")
        div.banner-h5__cover
          img.cover(:src="item.ad_pic_url")
  a.banner-h5__footer 更多精彩专题&gt;&gt;